# Shared secrets / config (copy to .env)

SECRET_KEY=shopino-dev-secret-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,django,gateway

POSTGRES_DB=shopino_db
POSTGRES_USER=shopino
POSTGRES_PASSWORD=shopino123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

JWT_SECRET=shopino-dev-secret-change-me
GO_PORT=8080
